body {
    background-color: rgb(255, 255, 255);
    
}

.logo {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 261px;
    height: 261px;
    margin: 0;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
   /* Certifica-se de que o SVG fique na parte superior */
}

.INSTAGRAM {
    width: 497px;
    height: 91px;
    border-radius: 28px;
    background: #F61A69;
    color: #FFF;
    text-align: center;
    font-family: Jomhuria;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    margin: 30px;
}

.FACEBOOK {
    width: 497px;
    height: 91px;
    border-radius: 28px;
    background: #F61A69;
    color: #FFF;
    text-align: center;
    font-family: Jomhuria;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    margin: 30px;
}

.ATENDENTE_1 {
    width: 497px;
    height: 91px;
    border-radius: 28px;
    background: #F61A69;
    color: #FFF;
    text-align: center;
    font-family: Jomhuria;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    margin: 30px;
}

.ATENDENTE_2 {
    width: 497px;
    height: 91px;
    border-radius: 28px;
    background: #F61A69;
    color: #FFF;
    text-align: center;
    font-family: Jomhuria;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    margin: 30px;
}